#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
coverage
dist
typings
src/*.js
src/*.d.ts
src/*.js.map
src/*.ngfactory.ts
src/*.metadata.json
tests/*.js
tests/*.d.ts
tests/*.js.map
index.js
index.d.ts
index.js.map
index.metadata.json
index.ngfactory.ts
index.ngfactory.js
index.ngfactory.js.map
_test-output

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store
